cached-property==1.5.2
csvkit==2.0.0
fqdn==1.5.1
h2==4.2.0
isoduration==20.11.0
jaraco.collections==5.1.0
jupyter-contrib-nbextensions==0.7.0
jupyter-latex-envs==1.4.6
jupyterlab==4.3.5
matplotlib==3.9.4
mo-dots==9.578.24081
openai==1.78.1
pandas==2.2.2
pglast==7.1
pip-chill==1.0.3
pkgutil-resolve-name==1.3.10
psycopg2==2.9.9
psycopg2-binary==2.9.10
pyobjc-framework-cocoa==11.0
pysocks==1.7.1
pytest==7.4.4
python-dotenv==1.0.1
ruamel.yaml==0.18.6
sqlglot==25.10.0
tinycss2==1.4.0
typing-utils==0.1.0
